 /**
  *
  * Screenlayout
  *
  * @copyright		Copyright 2012 | MEN AT WORK
  * @link 		http://www.men-at-work.de
  */

@media screen, projection
{
  
  body {
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
	color:#000;
  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Normalize content elements
  */

  a {
	color:#000;
	text-decoration:underline;
  }

  a:hover { 
	text-decoration:none; 
  }

  h2, h3, h4, h5, h6 { 
	color:#000;
  }
  
  input, textarea, select {
	font:normal 12px/1.5em Arial, Helvetica, sans-serif;
  }
  
  .data ul, .list ul { 
	margin:2px 0; 
	list-style:none;
	padding:0;
  }
  
  .data ul li, .list ul li { 
	padding:0; 
  }
	
  .data ul span { 
	float:left; 
	width:60px;  
  }

  .list ul { 
	list-style:disc; 
	padding:0 0 0 20px; 
	margin-right:10px; 
  }
  
  .list ul li { 
	padding:1px 0; 
  }

  .main p { 
	padding:8px 0; 
  }
  
 /*------------------------------------------------------------------------*/

  #wrapper {

  }
  
 /*------------------------------------------------------------------------*/

  #header .inside {

  }
  
  #header h1 {

  }

  #header h1 a {

  }
  
 /*------------------------------------------------------------------------*/
  
 /**
  * Navigation elements
  */
  
  .mod_navigation ul, 
  .mod_customnav ul {
	margin:0;
	padding:0;
	list-style:none;
  }
  
  #nav {

  }    
  
  #nav ul {

  }  
  
  #nav li {
  
  }
  
  #nav li.last {

  }
  
  #nav li a,
  #nav li span {

  }
 
  #nav li .active {

  } 
  
 /*------------------------------------------------------------------------*/
 
  #container {

  }
  
  #main {
  
  }
  
  #right {
  
  }
  
  #left {
  
  }
  
 /*------------------------------------------------------------------------*/
 
  #footer {

  }   

  #footer .inside {

  }
 
 /*------------------------------------------------------------------------*/
  
 /**
  * Clearfix
  */

  .clearfix:after {
	content: ".";
	display: block;
	font-size:0;
	height: 0;
	clear: both;
	visibility: hidden;
  }

  .clearfix { display: block; }
  
}